<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{#title}}{{.}} - {{/title}}Bewindvoerder machtigen</title>
  <style>{{{inlineCss}}}</style>
</head>
<body class="nijmegen-margin-block-0 nijmegen-margin-inline-0 utrecht-document nijmegen-theme">
<a href="#main" class="skip-link">Direct naar inhoud</a>
<header class="app-header">
  <div class="app-header__inner">
    {{>beeldmerk}}
    <span class="app-header__title">Bewindvoerder machtigen</span>
  </div>
</header>
<div class="app-body">
